################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EFTest/v15
/packages/EntityFramework.6.4.0
/EFTest/obj/Debug
/EFTest/bin/Debug
